<h3>X:</h3>
<input data-ng-model="calcCont.number1" placeholder="Number 1"/>
<h3>Y:</h3>
<input data-ng-model="calcCont.number2" placeholder="Number 2"/>
<br/>

<div style="margin-left: auto;margin-right: auto;width:400px;">
    <div style="width:33%;float:left;" data-ng-repeat="(calculatorFunctionName, functionDefinition) in calcCont.getProto() | isFunction track by $index">
        <button style="width: 100%;" data-ng-click="calcCont[calculatorFunctionName]()">
            {{calculatorFunctionName}}
        </button>
    </div>
</div>



<h1 style="float: left;padding: 32px;width: 100%;text-align: center;">Result: {{calcCont.result}}</h1>